.combo-box .combo-box-popup > .list-view {
    -fx-max-width: 610px;
    -fx-min-width: 610px;
    -fx-pref-width: 610px;
    -fx-max-height: 200px;
    -fx-pref-height: 200px;
    -fx-font-size: 14px;
    -fx-background-color:  #fac863;
}

.pagination {
    -fx-border-color:  #0E5D79;
}

.pagination .page {
    -fx-background-color:  #fac863;
}

.pagination .pagination-control {
    -fx-background-color:  #fac863;
}

.pagination .pagination-control .bullet-button {
    -fx-background-color: transparent, #DDF1F8, #0E5D79, white, white;
}

.pagination .pagination-control .bullet-button:selected {
    -fx-background-color: transparent, #DDF1F8, #0E5D79, white, #0E5D79;
}

.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #DDF1F8, #0E5D79;
}